@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Roboto", serif;
  background-color: #292F23;
  color:#FFFFFF;
}
::-webkit-scrollbar{
  display: none;
}